<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Create Task</h1>
            <form action="/admin/create" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <textarea name="content" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" value="" type="submit">Submit</button>
                </div>
                <div class="form-group">
                    <label for="sel1">family members</label>
                    <select class="form-control" id="sel1" name="familyMembers">
                        <option>Father</option>
                        <option>Mother</option>
                        <option>Child</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>